body{
    padding: 0;
    margin: 0;
}

.container{
    background-color: antiquewhite;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.classTypeContainer{
    display: flex;
}
.classTypeContainer div:nth-child(n+3){
    display: none;
}

.workSpace{
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: #ccc;
}

#myCanvas{
    margin-top: 400px;
    margin-left: 200px;
}

